
        <h1>Welcome to Onyee Nwazue's camera blog</h1>

        <p>Visit any of the existing camera reviews</p>
        <p><a href="/Yashica T5">Yashica T5</a></p>
        <p><a href="/Contax T2">Contax T2</a></p>
        <p>Or, you can <a href="/new">create a new camera review</a></p>


